@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&display=swap');

/*************************************************
    Style resets
**************************************************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
}

input, button {
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
}

/*************************************************
    Variables
**************************************************/

:root {
    --tomato: hsl(4, 100%, 67%);
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);


    --bg-gradient-1: linear-gradient(100deg, hsl(347, 100%, 66%), hsl(6, 100%, 66%));


    --shadow-1: 0px 9px 30px 0px rgba(255, 98, 87, 0.5);
}


/*************************************************
    Subscribe page style
**************************************************/

.image-container img { width: 100%; }

.content-container{ padding: 0 15px; }

.title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-slate-grey);
    margin: 25px 0 15px 0;
}

.page-description {
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-slate-grey);
}

.updates-list{ margin-bottom: 25px; }

.updates-item {
    list-style-type: none;
    padding: 10px 0;
    font-size: 1rem;
    color: var(--charcoal-grey);
    font-weight: 400;
}

.updates-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.subscribe-container {
    position: relative;
    margin-bottom: 35px;
}

.subscribe-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    color: var(--charcoal-grey);
    font-size: .6rem;
}

.subscribe-container input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-bottom: 20px;
}

::placeholder { color: var(--grey); }

.subscribe-container input:focus:invalid {
    border: 1px solid var(--tomato);
    background-color: rgba(255, 98, 87, 0.2);
}

.subscribe-container input:focus:invalid::placeholder { color: var(--tomato); }

.error-message {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    color: var(--tomato);
    font-size: .6rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.subscribe-container input:focus:invalid + .error-message {
    visibility: visible;
}

.subscribe-button {
    width: 100%;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: 700;
    padding: 15px;
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
}

.subscribe-button:hover {
    background: var(--bg-gradient-1);
    box-shadow: var(--shadow-1);
}

/*************************************************
    Subscribed page style
**************************************************/

.subscribed-container {
    padding: 0 20px;
    display: none;
}

.subscribed-content {
    margin-top: 160px;
}

.subscribe-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-slate-grey);
    margin: 30px 0 20px 0;
}

.subscribe-info {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-slate-grey);
}

.subscribe-info span { font-weight: 700; }

.home-page-button {
    width: 100%;
    color: var(--white);
    background-color: var(--dark-slate-grey);
    font-weight: 700;
    padding: 15px;
    margin-top: 250px;
    border-radius: 7px;
    cursor: pointer;
}

.home-page-button:hover {
    background: var(--bg-gradient-1);
    box-shadow: var(--shadow-1);
}